@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

body {
    font-family: Manrope;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1199.98px) {
        max-width: 970px;
    }

    @media (max-width: 991.98px) {
        max-width: 750px;
    }

    @media (max-width: 767.98px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;
}

//=====|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|=====//
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 83px;
        padding-top: 10px;
        padding-bottom: 10px;
        column-gap: 10px;
        row-gap: 15px;

        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    .header__logo {
        color: #31353B;
        font-size: 23px;
        font-weight: 800;
        line-height: 120%;
    }

    .header__menu {}
}

.menu {
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 46px;
        row-gap: 5px;

        @media (max-width: 767.98px) {
            justify-content: space-between;
            padding: 0 20px;
            row-gap: 10px;
        }
    }

    .menu__item {}

    .menu__link {

        color: #000;
        font-size: 13px;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 767.98px) {
            font-size: 20px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

//=====|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|=====//
.page__main {}

.main-block {
    padding-bottom: 110px;
    position: relative;

    @media (max-width: 1199.98px) {
        padding-bottom: 55px;
    }

    .main-block__container {
        padding-top: 185px;
        position: relative;

        @media (max-width: 1199.98px) {
            padding-top: 125px;
        }

        &:after {
            content: "";
            background-color: #BDCCFF;
            position: absolute;
            height: 100%;
            width: 200%;
            left: 63.3%;
            top: 0;
        }
    }

    .main-block__body {}

    .main-block__partners {}


}


.body-main-block {
    display: flex;
    margin: 0 0 14px 0;
    align-items: flex-start;
    position: relative;

    @media (max-width: 1199.98px) {
        display: block;
        margin: 0 0 30px 0;
    }

    .body-main-block__content {
        flex: 0 1 50%;
    }

    .body-main-block__slider {
        flex: 0 1 50%;
        min-width: 0;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);

    }
}

.slider-main-block {}

.slider-main-block__wrapper {}

.slider-main-block__slide {
    position: relative;
    padding: 0 0 95% 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.body-main-block__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.body-main-block__arrow {
    &::after {
        display: none;
    }

    &.swiper-button-next,
    &.swiper-button-prev {
        position: static;
        width: 11px;
        height: 20px;
        background: url('../../img/icons/arrow.svg') 0 0 / 100% no-repeat;
    }

    &.swiper-button-prev {
        transform: rotate(-180deg);
    }
}

.content-main-block {
    padding: 40px 0 0 0;
    position: relative;
    z-index: 2;

    .content-main-block__body {
        padding: 0 68px 0 0;

        @media (max-width: 767.98px) {
            padding: 0 0 0 0;
        }

        &:not(:last-child) {
            margin: 0 0 48px 0;

            @media (max-width: 767.98px) {
                margin: 0 0 24px 0;
            }
        }
    }

    .content-main-block__sub-title {
        color: #FF9900;
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;

        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    .content-main-block__title {
        color: #000;
        font-size: 54px;
        font-weight: 800;
        line-height: 135%;

        &:not(:last-child) {
            margin: 0 0 23px 0;

        }

        @media (max-width: 767.98px) {
            font-size: 34px;
        }
    }

    .content-main-block__text {
        color: #31353B;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.17px;
    }

    .content-main-block__form {}
}

.form-main-block {
    display: flex;
    height: 86px;
    margin-right: -188px;
    position: relative;
    z-index: 2;
    background: #fff url('../../img/icons/home.svg') 33px 50% no-repeat;
    color: #FFFFFF;

    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);

    @media (max-width: 1199.98px) {
        margin: 0 0px 30px 0;
        height: 100%;
        display: block;
    }

    @media (max-width: 767.98px) {
        background: none;
        background-color: #fff;
        flex-direction: column;
    }

    .form-main-block__input {
        padding: 29.5px 0 29.5px 74px;
        background-color: transparent;
        flex: 1 1 auto;
        width: 100%;
        font-size: 20px;
        border: 1px solid #DADADA;

        &::placeholder {
            color: rgba(49, 53, 58, 0.3);
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.2px;
            line-height: 120%;

            @media (max-width: 479.98px) {
                font-size: 15px;
            }
        }

        @media (max-width: 767.98px) {
            padding: 15px 0 15px 18px;
        }
    }

    .form-main-block__button {
        cursor: pointer;
        background-color: #F85A47;
        width: 188px;
        flex: 0 0 188px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.17px;
        line-height: 120%;
        padding: 5px 15px;

        @media (max-width: 767.98px) {
            width: 100%;
            flex: 1 1 auto;
            height: 66px;
        }
    }
}

.partners-main-block {
    max-width: 62%;
    position: relative;
    z-index: 2;

    @media (max-width: 1199.98px) {

        max-width: none;
    }

    .partners-main-block__label {
        color: #31353B;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.17px;
        margin: 0 0 27px 0;
    }

    .partners-main-block__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        align-items: center;

        @media (max-width: 767.98px) {
            justify-content: center;
            gap: 25px;
        }
    }

    .partners-main-block__item {
        img {
            width: 100%;
        }
    }
}

//=====|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|=====//
.page__how {}

.how {
    padding: 110px 0 110px 0;

    .how_container {}

    .how__title {
        margin: 0 0 70px 0;
    }

    .how__items {
        display: grid;
        padding: 0 35px;
        grid-template-columns: repeat(3, minmax(auto, 260px));
        gap: 30px;
        justify-content: space-between;
        align-items: start;
    }

    .how__item {}
}

.title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;

    &.title_center {
        text-align: center;
    }
}




.item-how {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;


    &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 41px;
        width: 100%;
        height: 11px;
        transform: translate(86.5%, 0);
        background: url('../../img/main/how/lineitem.svg') 0 0 no-repeat;
        max-width: 210px;
    }

    .item-how__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0;
        width: 90px;
        height: 90px;
        border-radius: 20px;
    }

    .item-how__title {
        margin: 0 0 15px 0;
        color: #000;
        font-size: 22px;
        font-weight: 600;
        line-height: 120%;
    }

    .item-how__text {
        color: #333;
        font-weight: 400;
        line-height: 162%;
    }
}

.item-how_1 {
    & .item-how__icon {
        background: #9672FF;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(150, 114, 255, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(150, 114, 255, 0.03), 0px 20px 13px 0px rgba(150, 114, 255, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(150, 114, 255, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(150, 114, 255, 0.05), 0px 100px 80px 0px rgba(150, 114, 255, 0.07);
    }
}

.item-how_2 {
    & .item-how__icon {
        background: #4DDFFD;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(77, 223, 253, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(77, 223, 253, 0.03), 0px 20px 13px 0px rgba(77, 223, 253, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(77, 223, 253, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(77, 223, 253, 0.05), 0px 100px 80px 0px rgba(77, 223, 253, 0.07);
    }

    &:not(:last-child)::after {
        transform: translate(86.5%, 0) rotate(180deg);
    }
}

.item-how_3 {
    & .item-how__icon {
        background: #F2B8EC;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(242, 184, 236, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(242, 184, 236, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
    }
}