@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

body {
    font-family: Manrope;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1199.98px) {
        max-width: 970px;
    }

    @media (max-width: 991.98px) {
        max-width: 750px;
    }

    @media (max-width: 767.98px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;
}