@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

body {
    font-family: Manrope;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1199.98px) {
        max-width: 970px;
    }

    @media (max-width: 991.98px) {
        max-width: 750px;
    }

    @media (max-width: 767.98px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;
}

//=====|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|=====//
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 83px;
        padding-top: 10px;
        padding-bottom: 10px;
        column-gap: 10px;
        row-gap: 15px;

        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    .header__logo {
        color: #31353B;
        font-size: 23px;
        font-weight: 800;
        line-height: 120%;
    }

    .header__menu {}
}

.menu {
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 46px;
        row-gap: 5px;

        @media (max-width: 767.98px) {
            justify-content: space-between;
            padding: 0 20px;
            row-gap: 10px;
        }
    }

    .menu__item {}

    .menu__link {

        color: #000;
        font-size: 13px;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 767.98px) {
            font-size: 20px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

//=====|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|=====//
.page__main {}

.main-block {
    padding: 185px 0 0 0;
    position: relative;

    .main-block__container {}

    .main-block__body {}

    .main-block__partners {}

    &:after {
        content: "";
        background-color: #BDCCFF;
        position: absolute;
        height: 100%;
        width: 200%;
        left: 63.3%;
        top: 0;
    }
}


.body-main-block {
    display: flex;
    margin: 0 0 14px 0;
    align-items: flex-start;
    position: relative;

    .body-main-block__content {
        flex: 0 1 50%;

    }

    .body-main-block__slider {
        flex: 0 1 50%;
        min-width: 0;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
    }
}

.slider-main-block {}

.slider-main-block__wrapper {}

.slider-main-block__slide {
    position: relative;
    padding: 0 0 95% 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.body-main-block__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.body-main-block__arrow {
    &::after {
        display: none;
    }

    &.swiper-button-next,
    &.swiper-button-prev {
        position: static;
        width: 11px;
        height: 20px;
        background: url('../../img/icons/arrow.svg') 0 0 / 100% no-repeat;
    }

    &.swiper-button-prev {
        transform: rotate(-180deg);
    }
}



.content-main-block {
    padding: 40px 0 0 0;

    .content-main-block__body {
        padding: 0 68px 0 0;

        &:not(:last-child) {
            margin: 0 0 48px 0;
        }
    }

    .content-main-block__sub-title {
        color: #FF9900;
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;

        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    .content-main-block__title {
        color: #000;
        font-size: 54px;
        font-weight: 800;
        line-height: 135%;

        &:not(:last-child) {
            margin: 0 0 23px 0;
        }
    }

    .content-main-block__text {
        color: #31353B;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.17px;
    }

    .content-main-block__form {}
}


.form-main-block {
    display: flex;
    height: 86px;
    margin-right: -188px;
    position: relative;
    z-index: 2;
    background: url('../../img/icons/home.svg') 33px 50% no-repeat;
    color: #FFFFFF;

    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);

    .form-main-block__input {
        padding: 29.5px 0 29.5px 74px;
        background-color: transparent;
        flex: 1 1 auto;
        width: 100%;
        font-size: 20px;
        border: 1px solid #DADADA;

        &::placeholder {
            color: rgba(49, 53, 58, 0.3);
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.2px;
            line-height: 120%;
        }
    }

    .form-main-block__button {
        cursor: pointer;
        background-color: #F85A47;
        width: 188px;
        flex: 0 0 188px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.17px;
        line-height: 120%;
        padding: 5px 15px;
    }
}


.partners-main-block {
    max-width: 67%;

    .partners-main-block__label {
        color: #31353B;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.17px;
        margin: 0 0 27px 0;
    }

    .partners-main-block__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
    }

    .partners-main-block__item {
        img {
            width: 100%;
        }
    }
}