@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

body {
    font-family: Manrope;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1199.98px) {
        max-width: 970px;
    }

    @media (max-width: 991.98px) {
        max-width: 750px;
    }

    @media (max-width: 767.98px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;
}

//=====|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|=====//
.header {


    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 83px;
        padding-top: 10px;
        padding-bottom: 10px;
        column-gap: 10px;
        row-gap: 15px;

        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    .header__logo {
        color: #31353B;
        font-size: 23px;
        font-weight: 800;
        line-height: 120%;
    }

    .header__menu {}
}

.menu {
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 46px;
        row-gap: 5px;

        @media (max-width: 767.98px) {
            justify-content: space-between;
            padding: 0 20px;
            row-gap: 10px;
        }
    }

    .menu__item {}

    .menu__link {

        color: #000;
        font-size: 13px;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 767.98px) {
            font-size: 20px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}