@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

body {
    font-family: Manrope;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1199.98px) {
        max-width: 970px;
    }

    @media (max-width: 991.98px) {
        max-width: 750px;
    }

    @media (max-width: 767.98px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;
}

//=====|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|=====//
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 83px;
        padding-top: 10px;
        padding-bottom: 10px;
        column-gap: 10px;
        row-gap: 15px;

        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    .header__logo {
        color: #31353B;
        font-size: 23px;
        font-weight: 800;
        line-height: 120%;
    }

    .header__menu {}
}

.menu {
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 46px;
        row-gap: 5px;

        @media (max-width: 767.98px) {
            justify-content: space-between;
            padding: 0 20px;
            row-gap: 10px;
        }
    }

    .menu__item {}

    .menu__link {

        color: #000;
        font-size: 13px;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 767.98px) {
            font-size: 20px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

//=====|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|=====//
.page__main {}

.main-block {
    padding-bottom: 110px;
    position: relative;

    @media (max-width: 1199.98px) {
        padding-bottom: 55px;
    }

    .main-block__container {
        padding-top: 185px;
        position: relative;

        @media (max-width: 1199.98px) {
            padding-top: 125px;
        }

        &:after {
            content: "";
            background-color: #BDCCFF;
            position: absolute;
            height: 100%;
            width: 200%;
            left: 63.3%;
            top: 0;
        }
    }

    .main-block__body {}

    .main-block__partners {}


}


.body-main-block {
    display: flex;
    margin: 0 0 14px 0;
    align-items: flex-start;
    position: relative;

    @media (max-width: 1199.98px) {
        display: block;
        margin: 0 0 30px 0;
    }

    .body-main-block__content {
        flex: 0 1 50%;
    }

    .body-main-block__slider {
        flex: 0 1 50%;
        min-width: 0;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);

    }
}

.slider-main-block {}

.slider-main-block__wrapper {}

.slider-main-block__slide {
    position: relative;
    padding: 0 0 95% 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.body-main-block__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.body-main-block__arrow {
    &::after {
        display: none;
    }

    &.swiper-button-next,
    &.swiper-button-prev {
        position: static;
        width: 11px;
        height: 20px;
        background: url('../../img/icons/arrow.svg') 0 0 / 100% no-repeat;
    }

    &.swiper-button-prev {
        transform: rotate(-180deg);
    }
}

.content-main-block {
    padding: 40px 0 0 0;
    position: relative;
    z-index: 2;

    .content-main-block__body {
        padding: 0 68px 0 0;

        @media (max-width: 767.98px) {
            padding: 0 0 0 0;
        }

        &:not(:last-child) {
            margin: 0 0 48px 0;

            @media (max-width: 767.98px) {
                margin: 0 0 24px 0;
            }
        }
    }

    .content-main-block__sub-title {
        color: #FF9900;
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;

        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    .content-main-block__title {
        color: #000;
        font-size: 54px;
        font-weight: 800;
        line-height: 135%;

        &:not(:last-child) {
            margin: 0 0 23px 0;

        }

        @media (max-width: 767.98px) {
            font-size: 34px;
        }
    }

    .content-main-block__text {
        color: #31353B;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.17px;
    }

    .content-main-block__form {}
}

.form-main-block {
    display: flex;
    height: 86px;
    margin-right: -188px;
    position: relative;
    z-index: 2;
    background: #fff url('../../img/icons/home.svg') 33px 50% no-repeat;
    color: #FFFFFF;

    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);

    @media (max-width: 1199.98px) {
        margin: 0 0px 30px 0;
        height: 100%;
        display: block;
        background: #fff url('../../img/icons/home.svg') 33px 23% no-repeat;
    }

    @media (max-width: 767.98px) {
        background: none;
        background-color: #fff;
        flex-direction: column;
    }

    .form-main-block__input {
        padding: 29.5px 0 29.5px 74px;
        background-color: transparent;
        flex: 1 1 auto;
        width: 100%;
        font-size: 20px;
        border: 1px solid #DADADA;

        &::placeholder {
            color: rgba(49, 53, 58, 0.3);
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.2px;
            line-height: 120%;

            @media (max-width: 479.98px) {
                font-size: 15px;
            }
        }

        @media (max-width: 767.98px) {
            padding: 15px 0 15px 18px;
        }
    }

    .form-main-block__button {
        cursor: pointer;
        background-color: #F85A47;
        width: 188px;
        flex: 0 0 188px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.17px;
        line-height: 120%;
        padding: 5px 15px;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #c0493b;
        }

        @media (max-width: 1199.98px) {
            width: 100%;
            flex: 1 1 auto;
            height: 86px;
        }

        @media (max-width: 767.98px) {
            width: 100%;
            flex: 1 1 auto;
            height: 66px;
        }
    }
}

.partners-main-block {
    max-width: 62%;
    position: relative;
    z-index: 2;

    @media (max-width: 1199.98px) {

        max-width: none;
    }

    .partners-main-block__label {
        color: #31353B;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.17px;
        margin: 0 0 27px 0;
    }

    .partners-main-block__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        align-items: center;

        @media (max-width: 767.98px) {
            justify-content: center;
            gap: 25px;
        }
    }

    .partners-main-block__item {
        img {
            width: 100%;
        }
    }
}

//=====|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|HOW|=====//
.page__how {}

.how {
    padding: 110px 0 110px 0;

    @media (max-width: 990.98px) {
        padding: 70px 0 70px 0;
    }

    @media (max-width: 767.98px) {
        padding: 30px 0 30px 0;
    }

    .how_container {}

    .how__title {
        margin: 0 0 70px 0;

        @media (max-width: 767.98px) {
            margin: 0 0 45px 0;
        }
    }

    .how__items {
        display: grid;

        grid-template-columns: repeat(3, minmax(auto, 260px));
        column-gap: 30px;
        row-gap: 45px;
        justify-content: space-between;
        align-items: start;

        @media (min-width: 990.98px) {
            padding: 0 35px;
        }

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
    }

    .how__item {}
}

.title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: 767.98px) {
        font-size: 30px;
    }

    &.title_center {
        text-align: center;
    }
}

.item-how {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;


    &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 41px;
        width: 210px;
        height: 11px;
        transform: translate(86.5%, 0);
        background: url('../../img/main/how/lineitem.svg') 0 0 / 100% no-repeat;

        @media (max-width: 1199.98px) {
            width: 170px;
            transform: translate(63%, 0);
        }

        @media (max-width: 990.98px) {
            width: 100px;
            transform: translate(63%, 0);
        }

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    .item-how__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0;
        width: 90px;
        height: 90px;
        border-radius: 20px;

        @media (max-width: 767.98px) {
            margin: 0 0 25px 0;
        }
    }

    .item-how__title {
        margin: 0 0 15px 0;
        color: #000;
        font-size: 22px;
        font-weight: 600;
        line-height: 120%;
    }

    .item-how__text {
        color: #333;
        font-weight: 400;
        line-height: 162%;
    }
}

.item-how_1 {
    & .item-how__icon {
        background: #9672FF;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(150, 114, 255, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(150, 114, 255, 0.03), 0px 20px 13px 0px rgba(150, 114, 255, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(150, 114, 255, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(150, 114, 255, 0.05), 0px 100px 80px 0px rgba(150, 114, 255, 0.07);
    }
}

.item-how_2 {
    & .item-how__icon {
        background: #4DDFFD;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(77, 223, 253, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(77, 223, 253, 0.03), 0px 20px 13px 0px rgba(77, 223, 253, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(77, 223, 253, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(77, 223, 253, 0.05), 0px 100px 80px 0px rgba(77, 223, 253, 0.07);
    }

    &:not(:last-child)::after {
        transform: translate(86.5%, 0) rotate(180deg);

        @media (max-width: 1199.98px) {
            transform: translate(63%, 0);
        }
    }
}

.item-how_3 {
    & .item-how__icon {
        background: #F2B8EC;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(242, 184, 236, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(242, 184, 236, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
    }
}

//=====|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|DEALS|=====//
.page {

    &__deals {}
}

.deals {
    padding: 110px 0 110px 0;

    @media (max-width: 990.98px) {
        padding: 70px 0 70px 0;
    }

    @media (max-width: 767.98px) {
        padding: 30px 0 30px 0;
    }

    &__container {}

    &__header {
        margin: 0 0 50px 0;
    }

    &__tabs {}
}

.header-deals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    &__content {
        flex: 1 1 auto;
    }

    &__title {
        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
    }

    &__text {
        max-width: 470px;
        color: #000;
        font-weight: 400;
        line-height: 150%;
    }

    &__button {
        display: inline-block;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        padding: 21px 31.5px;
        border-radius: 5px;
        background-color: #F85A47;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(248, 90, 71, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(248, 90, 71, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #c0493b;
        }

        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
}

.tabs-deals {

    &__nav {
        display: flex;
        column-gap: 50px;
        row-gap: 10px;
        flex-wrap: wrap;
        margin: 0 0 45px 0;
    }

    &__button {
        background-color: transparent;
        font-size: 19px;
        font-weight: 600;
        line-height: 120%;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease 0s;

        &::after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 0;
            height: 2px;
            transition: all 0.3s ease 0s;
            background-color: #F85A47;
        }

        &:hover {
            color: #F85A47;
        }

        &:hover::after {
            width: 100%;
        }

        &.active {
            color: #F85A47;

            &::after {
                width: 100%;
            }
        }

    }

    &__body {}

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }
}

.item-tabs {

    &__items {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    &__item {
        position: relative;
    }

    &__options {
        position: absolute;
        left: 14px;
        top: 14px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        z-index: 2;
    }

    &__option {
        border-radius: 5px;
        border: 1px solid #FFF;
        background-color: rgba(0, 0, 0, 0.40);
        color: #FFF;
        padding: 5.5px 12px;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.60);
        }
    }

    &__image {
        position: relative;
        display: block;
        padding-bottom: 81%;
        border-radius: 5px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

//=====|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|FEATURED|=====//
.page {
    &__featured {}
}

.featured {
    padding: 110px 0 110px 0;

    @media (max-width: 990.98px) {
        padding: 70px 0 70px 0;
    }

    @media (max-width: 767.98px) {
        padding: 30px 0 30px 0;
    }

    &__container {}

    &__title {
        margin: 0 0 95px 0;

        @media (max-width: 767.98px) {
            margin: 0 0 50px 0;
        }
    }

    &__body {
        padding: 40px 40px 80px 40px;
        background-color: #F1FFFF;
        display: grid;
        column-gap: 77px;
        row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 990.98px) {
            display: flex;
            flex-direction: column-reverse;
        }

        @media (max-width: 767.98px) {
            margin: 0 -15px;
            padding: 20px 15px 40px 15px;
        }
    }

    &__images {}

    &__content {}
}

.images-featured {
    display: grid;
    justify-items: center;

    &__item {
        img {
            max-width: 100%;
        }
    }

    &__item_mini {
        margin: -114px 10% 0 10%;

        img {
            box-shadow: 48px 58px 44px 0px rgba(0, 0, 0, 0.09), 0px 3.0185184478759766px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 13.281481742858887px 6.518518447875977px 0px rgba(0, 0, 0, 0.02), 0px 32.599998474121094px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.785186767578125px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 105.64814758300781px 46.85185241699219px 0px rgba(0, 0, 0, 0.03);
        }
    }
}

.content-featured {

    &__body {

        padding: 40px 0 0 0;

        @media (min-width: 990.98px) {
            max-width: 412px;
        }
    }

    &__title {
        color: #000;
        font-size: 31px;
        font-weight: 600;
        line-height: 120%;

        &:not(:last-child) {
            margin: 0 0 28px 0;
        }

        @media (max-width: 767.98px) {
            font-size: 24px;
        }
    }

    &__text {
        color: #545A58;
        font-weight: 400;
        line-height: 150%;

        &:not(:last-child) {
            margin: 0 0 42px 0;
        }

        @media (min-width: 990.98px) {
            max-width: 344px;
        }
    }

    &__options {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 0 54px 0;

        @media (max-width: 479.98px) {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 0 35px 0;
        }
    }

    &__button {
        display: block;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        padding: 15.5px 37.5px;
        background: #F85A47;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(248, 90, 71, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(248, 90, 71, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
        text-align: center;
        transition: all 0.3s ease 0s;
        line-height: 150%;

        &:hover {
            background-color: #c0493b;
        }
    }
}

.options-content-featured {

    &__item {}

    &__label {
        color: #000;
        font-size: 17px;
        font-weight: 700;
        line-height: 120%;
        margin: 0 0 12px 0;
    }

    &__value {
        color: #545A58;
        font-size: 17px;
        font-weight: 400;
        line-height: 120%;
    }
}